@{
    ViewData["Title"] = "Home Page";
}

<h3>Form parameters parsing demo</h3>

<ul>
    <li><a asp-controller="Home" asp-action="ModelCalc">Manual parsing in single action</a></li>
     <li><a asp-controller="Home" asp-action="ViewDataCalc">Manual parsing in separate actions</a></li>
      <li><a asp-controller="Home" asp-action="ViewBagCalc">Model bindling(parameters)</a></li>
       <li><a asp-controller="Home" asp-action="InjectionCalc">Model bindling(separate model)</a></li>
</ul>